In [1]:
import os
from pathlib import Path
import sys


import numpy as np
import pandas as pd

In [2]:
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.insert(0, module_path)

In [3]:
from spectroscopy.utils import (
    parse_trm_files,
    DATA_DIR,
    get_wavelength_columns,
    _extract_lab_report_filename_info,
    parse_lab_report,
    parse_lab_reports
)

# read in the lab report csvs (ground truth)

In [4]:
# def _extract_lab_report_filename_info(filename):
#     sample_name_date = filename.partition('-')[2]
#     sample_name, _, date_extension = sample_name_date.partition('-')
#     sample_name = sample_name.strip().lower()
#     sample_date = pd.to_datetime(date_extension.partition('.')[0].strip())
#     return sample_name, sample_date

In [5]:
# def parse_lab_report(filepath) -> pd.DataFrame:
#     df = pd.read_csv(filepath)
#     df['filename'] = filepath.name
#     sample_name, sample_date = _extract_lab_report_filename_info(filepath.name)
#     df['sample_name'] = sample_name
#     df['sample_date'] = sample_date
#     df = df.reset_index(drop=True)
#     return df

In [6]:
# def parse_lab_reports(lab_report_directory=None) -> pd.DataFrame:
#     if lab_report_directory is None:
#         lab_report_directory = DATA_DIR
#     lab_report_directory = Path(lab_report_directory)
#     return pd.concat([parse_lab_report(lr_filepath) for lr_filepath in DATA_DIR.glob('Lab Report*.csv')])

In [7]:
df_lr = parse_lab_reports()

In [8]:
df_lr.head()

,MVTL Log#,Account #,Customer,State,Date_Sampled,Date_Received,Date_Reported,Sample_ID,Producer,Site Name,...,Cu,Mn,Ca,Mg,Na,pH,EC,filename,sample_name,sample_date
0,20-N4515,1970,FARM NUTRIENTS,IA,,10-Jul-20,13-Jul-20,15,CLARION IA CVF,SOUTH S,...,23.0,346,103000,4040,2670,NaN,NaN,Lab Report - South 15 - 7-8-20.csv,south 15,2020-07-08
0,20-N4512,1970,FARM NUTRIENTS,IA,,10-Jul-20,13-Jul-20,12,CLARION IA CVF,SOUTH S,...,20.2,342,101000,3630,2280,NaN,NaN,Lab Report - South 12 - 7-8-20.csv,south 12,2020-07-08
0,20-N4507,1970,FARM NUTRIENTS,IA,,10-Jul-20,13-Jul-20,7,CLARION IA CVF,SOUTH S,...,18.3,278,84000,2900,2120,NaN,NaN,Lab Report - South 7 - 7-8-20.csv,south 7,2020-07-08
0,20-N4570,1970,FARM NUTRIENTS,IA,,13-Jul-20,16-Jul-20,2,CLARION IA,NORTH,...,24.8,365,108000,3850,2380,NaN,NaN,Lab Report - North 2 - 7-9-20.csv,north 2,2020-07-09
0,20-N4573,1970,FARM NUTRIENTS,IA,,13-Jul-20,16-Jul-20,5,CLARION IA,NORTH,...,26.6,374,98200,3940,2460,NaN,NaN,Lab Report - North 5 - 7-9-20.csv,north 5,2020-07-09

In [9]:
df_lr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34 entries, 0 to 0
Data columns (total 39 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   MVTL Log#            34 non-null     object
 1   Account #            34 non-null     int64
 2   Customer             34 non-null     object
 3   State                34 non-null     object
 4   Date_Sampled         34 non-null     object
 5   Date_Received        34 non-null     object
 6   Date_Reported        34 non-null     object
 7   Sample_ID            34 non-null     object
 8   Producer             34 non-null     object
 9   Site Name            34 non-null     object
 10  Site #               0 non-null      float64
 11  Manure_Type          34 non-null     object
 12  Source               0 non-null      float64
 13  Livestock            34 non-null     object
 14  Moisture             34 non-null     float64
 15  N                    34 non-null     float64
 16  Ammonia-N            34 non-null     float64
 17  Organic-N            34 non-null     float64
 18  P                    34 non-null     float64
 19  K                    34 non-null     float64
 20  Total_N-lbs          34 non-null     float64
 21  P_lbs                34 non-null     float64
 22  K_lbs                34 non-null     float64
 23  Ammonia_N_lbs        34 non-null     float64
 24  Organic_N_lbs        34 non-null     float64
 25  Ton_or_1000_gallons  34 non-null     object
 26  S                    34 non-null     int64
 27  Zn                   34 non-null     int64
 28  Fe                   34 non-null     int64
 29  Cu                   34 non-null     float64
 30  Mn                   34 non-null     int64
 31  Ca                   34 non-null     int64
 32  Mg                   34 non-null     int64
 33  Na                   34 non-null     int64
 34  pH                   0 non-null      float64
 35  EC                   0 non-null      float64
 36  filename             34 non-null     object
 37  sample_name          34 non-null     object
 38  sample_date          34 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(16), int64(8), object(14)
memory usage: 10.6+ KB

In [10]:
df_lr.describe()

,Account #,Site #,Source,Moisture,N,Ammonia-N,Organic-N,P,K,Total_N-lbs,...,S,Zn,Fe,Cu,Mn,Ca,Mg,Na,pH,EC
count,34.0,0.0,0.0,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,...,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,0.0,0.0
mean,1970.0,NaN,NaN,21.432647,3.895882,0.356471,3.539412,3.329706,2.287059,77.911765,...,3805.588235,349.764706,665.500000,28.229412,362.352941,96923.529412,3765.294118,2673.235294,NaN,NaN
std,0.0,NaN,NaN,12.185913,0.718210,0.359494,0.782579,0.534157,0.346319,14.353814,...,850.946678,49.038673,142.630323,12.430693,63.142879,19208.837278,471.292454,350.546937,NaN,NaN
min,1970.0,NaN,NaN,9.400000,1.730000,0.090000,1.380000,2.240000,1.420000,34.600000,...,2510.000000,266.000000,316.000000,16.000000,236.000000,17200.000000,2680.000000,1910.000000,NaN,NaN
25%,1970.0,NaN,NaN,12.675000,3.555000,0.185000,3.325000,3.050000,2.140000,71.100000,...,3280.000000,324.500000,562.750000,21.450000,332.250000,90000.000000,3585.000000,2470.000000,NaN,NaN
50%,1970.0,NaN,NaN,20.700000,3.900000,0.320000,3.615000,3.355000,2.285000,78.000000,...,3620.000000,347.500000,697.000000,24.400000,362.500000,99150.000000,3785.000000,2610.000000,NaN,NaN
75%,1970.0,NaN,NaN,24.825000,4.330000,0.407500,3.935000,3.630000,2.470000,86.600000,...,3942.500000,372.250000,758.750000,27.375000,375.000000,105000.000000,3987.500000,2785.000000,NaN,NaN
max,1970.0,NaN,NaN,75.100000,5.490000,2.240000,4.980000,4.780000,3.350000,110.000000,...,6040.000000,496.000000,934.000000,73.700000,558.000000,126000.000000,5340.000000,3550.000000,NaN,NaN

In [11]:
df_lr.columns

Index(['MVTL Log#', 'Account #', 'Customer', 'State', 'Date_Sampled',
       'Date_Received', 'Date_Reported', 'Sample_ID', 'Producer', 'Site Name',
       'Site #', 'Manure_Type', 'Source', 'Livestock', 'Moisture', 'N',
       'Ammonia-N', 'Organic-N', 'P', 'K', 'Total_N-lbs', 'P_lbs', 'K_lbs',
       'Ammonia_N_lbs', 'Organic_N_lbs', 'Ton_or_1000_gallons', 'S', 'Zn',
       'Fe', 'Cu', 'Mn', 'Ca', 'Mg', 'Na', 'pH', 'EC', 'filename',
       'sample_name', 'sample_date'],
      dtype='object')

In [12]:
df_lr.iloc[0]

MVTL Log#                                        20-N4515
Account #                                            1970
Customer                                   FARM NUTRIENTS
State                                                  IA
Date_Sampled
Date_Received                                   10-Jul-20
Date_Reported                                   13-Jul-20
Sample_ID                                              15
Producer                                   CLARION IA CVF
Site Name                                         SOUTH S
Site #                                                NaN
Manure_Type                                         SOLID
Source                                                NaN
Livestock                                         CHICKEN
Moisture                                             23.1
N                                                    4.04
Ammonia-N                                            0.42
Organic-N                                            3.62
P                                                    3.15
K                                                    2.57
Total_N-lbs                                          80.8
P_lbs                                                  63
K_lbs                                                51.4
Ammonia_N_lbs                                         8.4
Organic_N_lbs                                        72.4
Ton_or_1000_gallons                               lbs/Ton
S                                                    3550
Zn                                                    443
Fe                                                    718
Cu                                                     23
Mn                                                    346
Ca                                                 103000
Mg                                                   4040
Na                                                   2670
pH                                                    NaN
EC                                                    NaN
filename               Lab Report - South 15 - 7-8-20.csv
sample_name                                      south 15
sample_date                           2020-07-08 00:00:00
Name: 0, dtype: object

# Targets in order of importance

In [13]:
# Ammonia, Total N, Moisture, P, K, S

# how to join targets to samples

note: "South 1" is the unique identifier for samples where "South" is the barn and "1" is the sample number

In [14]:
df_trms = parse_trm_files(DATA_DIR).reset_index(drop=True)

In [15]:
len(df_trms.columns)

517

In [16]:
df_trms.head()

,862.13,863.88,865.63,867.38,869.13,870.88,872.63,874.38,876.13,877.88,...,1749.38,1751.13,1752.88,extra_info,integration_time,filename,sample_name,sample_date,run_number,process_method
0,0.001,0.001,0.001,5.0793,23.314,44.6630,63.727,66.158,65.590,63.127,...,60.265,60.294,60.350,File: Users\stell\Desktop\StellarDat\North 11...,40,North 11 - 7-9-20 #3.TRM,north 11,2020-07-09,3,
1,0.001,0.001,0.001,-27.7720,-110.080,-43.0240,50.165,52.641,52.146,50.020,...,42.985,43.094,43.248,File: Users\stell\Desktop\StellarDat\South 7 ...,40,South 7 - 7-8-20 #1.TRM,south 7,2020-07-08,1,
2,0.001,0.001,0.001,14.5110,37.024,27.5150,67.515,69.958,69.425,67.164,...,62.107,62.216,62.324,File: Users\stell\Desktop\StellarDat\North 6 ...,40,North 6 (Ground) - 7-9-20 #1.TRM,north 6,2020-07-09,1,ground
3,0.001,0.001,0.001,-40.4680,-160.080,-67.7330,60.219,62.969,62.520,60.343,...,55.787,55.854,55.982,File: Users\stell\Desktop\StellarDat\South 8 ...,40,South 8 - 7-8-20 #3.TRM,south 8,2020-07-08,3,
4,0.001,0.001,0.001,-6.3474,-29.575,-0.4154,51.103,53.461,52.857,50.724,...,43.885,44.003,44.161,File: Users\stell\Desktop\StellarDat\South 10...,40,South 10 - 7-8-20 #2.TRM,south 10,2020-07-08,2,

In [17]:
len(df_lr)

34

In [18]:
df_trms['sample_name'].value_counts()

hampton west 2     10
south 9             6
south 15            6
south 2             6
south 16            6
hampton east 2      6
south 1             6
south 17            6
hampton west        6
south 10            4
south 13            4
north 9             4
south 7             4
south 11            4
south 14            4
north 5             4
south 12            4
south 6             4
south 3             4
south 5             4
hampton west 1      4
north 7             4
north 3             4
north 1             4
north 2             4
north 8             4
north 4             4
north 6             4
south 18            4
south 4             4
south 8             4
hampton east        3
north 14            3
north 10            3
north 16            3
north 17            3
north 18            3
north 11            3
north 13            3
hampton coulter     3
north 12            3
Name: sample_name, dtype: int64

In [19]:
len(df_trms)

176

In [20]:
df_lr['sample_name'].value_counts()

south 10           1
south 1            1
hampton east       1
north 9            1
south 6            1
south 13           1
south 14           1
south 11           1
hampton west 2     1
south 8            1
north 5            1
south 12           1
south 7            1
south 2            1
west 2             1
south 3            1
south 5            1
south 15           1
south 4            1
west 1             1
south 18           1
south 9            1
south 17           1
south 16           1
north 3            1
hampton west       1
north 4            1
north 7            1
hampton east 2     1
north 8            1
hampton coulter    1
north 2            1
north 1            1
north 6            1
Name: sample_name, dtype: int64

In [38]:
set(df_lr['sample_name'].unique()) - set(df_trms['sample_name'].unique())

{'west 1', 'west 2'}

## get just trms that related to lab report samples

In [21]:
df_trms['process_method'].value_counts()

          123
ground     53
Name: process_method, dtype: int64

In [22]:
# df_trms = df_trms[df_trms['process_method'] == 'ground']

In [23]:
# df_trms[df_trms['sample_name'].isin(df_lr['sample_name'].unique())]

In [24]:
df_trms['run_number'].value_counts()

1    74
3    51
2    51
Name: run_number, dtype: int64

# Ammonia

In [25]:
df_lr['Ammonia-N'].describe()

count    34.000000
mean      0.356471
std       0.359494
min       0.090000
25%       0.185000
50%       0.320000
75%       0.407500
max       2.240000
Name: Ammonia-N, dtype: float64

In [26]:
df_lr[df_lr['Ammonia-N'] == df_lr['Ammonia-N'].max()]

,MVTL Log#,Account #,Customer,State,Date_Sampled,Date_Received,Date_Reported,Sample_ID,Producer,Site Name,...,Cu,Mn,Ca,Mg,Na,pH,EC,filename,sample_name,sample_date
0,20-N3892,1970,FARM NUTRIENTS,IA,,17-Jun-20,23-Jun-20,BUNKER,HAMPTON IA,COULTER,...,29.8,236,17200,2680,2720,NaN,NaN,Lab Report - Hampton Coulter 6-15-20.csv,hampton coulter,2020-06-15

In [27]:
df_lr['Ammonia-N'].value_counts(dropna=False)

0.32    3
0.23    3
0.33    2
0.17    2
0.57    2
0.44    2
0.11    2
0.41    1
0.09    1
0.42    1
0.40    1
0.12    1
0.31    1
0.39    1
0.10    1
0.18    1
0.21    1
0.28    1
0.37    1
0.51    1
0.47    1
0.15    1
2.24    1
0.20    1
0.38    1
Name: Ammonia-N, dtype: int64

In [28]:
df_lr[df_lr['Ammonia-N'].isnull()]

Empty DataFrame
Columns: [MVTL Log#, Account #, Customer, State, Date_Sampled, Date_Received, Date_Reported, Sample_ID, Producer, Site Name, Site #, Manure_Type, Source, Livestock, Moisture, N, Ammonia-N, Organic-N, P, K, Total_N-lbs, P_lbs, K_lbs, Ammonia_N_lbs, Organic_N_lbs, Ton_or_1000_gallons, S, Zn, Fe, Cu, Mn, Ca, Mg, Na, pH, EC, filename, sample_name, sample_date]
Index: []

[0 rows x 39 columns]

In [29]:
df = df_trms.join(df_lr.set_index('sample_name')[['Ammonia-N']], on='sample_name')\
            .reset_index(drop=True)
#             .set_index(["sample_name", 'run_number'])

In [30]:
df.head()

,862.13,863.88,865.63,867.38,869.13,870.88,872.63,874.38,876.13,877.88,...,1751.13,1752.88,extra_info,integration_time,filename,sample_name,sample_date,run_number,process_method,Ammonia-N
0,0.001,0.001,0.001,5.0793,23.314,44.6630,63.727,66.158,65.590,63.127,...,60.294,60.350,File: Users\stell\Desktop\StellarDat\North 11...,40,North 11 - 7-9-20 #3.TRM,north 11,2020-07-09,3,,NaN
1,0.001,0.001,0.001,-27.7720,-110.080,-43.0240,50.165,52.641,52.146,50.020,...,43.094,43.248,File: Users\stell\Desktop\StellarDat\South 7 ...,40,South 7 - 7-8-20 #1.TRM,south 7,2020-07-08,1,,0.47
2,0.001,0.001,0.001,14.5110,37.024,27.5150,67.515,69.958,69.425,67.164,...,62.216,62.324,File: Users\stell\Desktop\StellarDat\North 6 ...,40,North 6 (Ground) - 7-9-20 #1.TRM,north 6,2020-07-09,1,ground,0.11
3,0.001,0.001,0.001,-40.4680,-160.080,-67.7330,60.219,62.969,62.520,60.343,...,55.854,55.982,File: Users\stell\Desktop\StellarDat\South 8 ...,40,South 8 - 7-8-20 #3.TRM,south 8,2020-07-08,3,,0.33
4,0.001,0.001,0.001,-6.3474,-29.575,-0.4154,51.103,53.461,52.857,50.724,...,44.003,44.161,File: Users\stell\Desktop\StellarDat\South 10...,40,South 10 - 7-8-20 #2.TRM,south 10,2020-07-08,2,,0.32

In [31]:
df['Ammonia-N'].value_counts(dropna=False)

NaN     28
0.32    14
0.23    12
0.44    10
0.12    10
0.17     8
0.33     8
0.11     8
0.21     6
0.20     6
0.39     6
0.42     6
0.37     6
0.15     6
0.47     4
0.18     4
0.28     4
0.09     4
0.41     4
0.40     4
0.51     4
0.38     4
0.10     4
2.24     3
0.57     3
Name: Ammonia-N, dtype: int64

# fill missing data

In [32]:
df[df['Ammonia-N'].isnull()]

,862.13,863.88,865.63,867.38,869.13,870.88,872.63,874.38,876.13,877.88,...,1751.13,1752.88,extra_info,integration_time,filename,sample_name,sample_date,run_number,process_method,Ammonia-N
0,0.001,0.001,0.001,5.07930,23.3140,44.66300,63.727,66.158,65.590,63.127,...,60.294,60.350,File: Users\stell\Desktop\StellarDat\North 11...,40,North 11 - 7-9-20 #3.TRM,north 11,2020-07-09,3,,NaN
8,0.001,0.001,0.001,-1.87010,-7.4777,20.64400,58.285,60.790,60.177,57.625,...,53.987,54.100,File: Users\stell\Desktop\StellarDat\North 11...,40,North 11 - 7-9-20 #2.TRM,north 11,2020-07-09,2,,NaN
13,0.001,0.001,0.001,1.60470,10.0300,38.44500,66.139,68.437,67.838,65.444,...,61.192,61.249,File: Users\stell\Desktop\StellarDat\North 11...,40,North 11 - 7-9-20 #1.TRM,north 11,2020-07-09,1,,NaN
14,0.001,0.001,0.001,-39.02300,-150.1700,-59.81300,53.654,56.306,55.735,53.263,...,51.875,52.012,File: Users\stell\Desktop\StellarDat\North 16...,40,North 16 - 7-9-20 #1.TRM,north 16,2020-07-09,1,,NaN
28,0.001,0.001,0.001,-41.16100,-156.7200,-60.46000,56.087,58.675,57.995,55.496,...,50.145,50.274,File: Users\stell\Desktop\StellarDat\North 16...,40,North 16 - 7-9-20 #2.TRM,north 16,2020-07-09,2,,NaN
39,0.001,0.001,0.001,-26.99500,-102.8800,-25.67300,69.833,72.052,71.588,69.393,...,65.783,65.960,File: Users\stell\Desktop\StellarDat\Hampton ...,40,Hampton West 1 (Ground)- 7-9-20 #1.TRM,hampton west 1,2020-07-09,1,ground,NaN
42,0.001,0.001,0.001,-43.03200,-171.3400,-76.38800,57.908,60.621,60.056,57.536,...,53.522,53.637,File: Users\stell\Desktop\StellarDat\North 16...,40,North 16 - 7-9-20 #3.TRM,north 16,2020-07-09,3,,NaN
44,0.001,0.001,0.001,2.53970,4.3985,20.46600,56.319,58.842,58.263,55.770,...,53.744,53.804,File: Users\stell\Desktop\StellarDat\North 18...,40,North 18 - 7-9-20 #3.TRM,north 18,2020-07-09,3,,NaN
46,0.001,0.001,0.001,-52.38700,-198.9900,-76.72500,70.206,72.427,72.012,69.836,...,66.445,66.574,File: Users\stell\Desktop\StellarDat\North 17...,40,North 17 - 7-9-20 #1.TRM,north 17,2020-07-09,1,,NaN
54,0.001,0.001,0.001,-136.06000,-453.6500,-143.75000,59.820,62.735,62.203,59.825,...,52.725,52.840,File: Users\stell\Desktop\StellarDat\Hampton ...,40,Hampton West 1 - 7-9-20 #1.TRM,hampton west 1,2020-07-09,1,,NaN
57,0.001,0.001,0.001,12.37900,50.0600,53.62900,53.687,56.037,55.386,52.894,...,51.577,51.641,File: Users\stell\Desktop\StellarDat\North 18...,40,North 18 - 7-9-20 #2.TRM,north 18,2020-07-09,2,,NaN
60,0.001,0.001,0.001,-179.66000,-598.9700,-198.12000,59.423,62.463,62.050,59.696,...,50.175,50.303,File: Users\stell\Desktop\StellarDat\Hampton ...,40,Hampton West 1 - 7-9-20 #3.TRM,hampton west 1,2020-07-09,3,,NaN
62,0.001,0.001,0.001,-45.17100,-171.0700,-62.84600,66.219,68.704,68.195,65.899,...,60.243,60.443,File: Users\stell\Desktop\StellarDat\North 17...,40,North 17 - 7-9-20 #2.TRM,north 17,2020-07-09,2,,NaN
67,0.001,0.001,0.001,-49.71500,-193.6400,-81.66700,65.178,67.703,67.136,64.783,...,60.028,60.186,File: Users\stell\Desktop\StellarDat\North 17...,40,North 17 - 7-9-20 #3.TRM,north 17,2020-07-09,3,,NaN
68,0.001,0.001,0.001,-160.98000,-536.2300,-175.38000,56.404,59.392,58.918,56.614,...,53.726,53.862,File: Users\stell\Desktop\StellarDat\Hampton ...,40,Hampton West 1 - 7-9-20 #2.TRM,hampton west 1,2020-07-09,2,,NaN
71,0.001,0.001,0.001,21.90100,96.6730,91.44100,54.832,57.124,56.433,53.904,...,51.479,51.627,File: Users\stell\Desktop\StellarDat\North 18...,40,North 18 - 7-9-20 #1.TRM,north 18,2020-07-09,1,,NaN
75,0.001,0.001,0.001,0.26829,3.2962,27.56900,53.571,55.991,55.366,52.870,...,48.892,49.011,File: Users\stell\Desktop\StellarDat\North 10...,40,North 10 - 7-9-20 #3.TRM,north 10,2020-07-09,3,,NaN
79,0.001,0.001,0.001,-7.21590,-16.2210,29.63300,58.466,60.970,60.346,57.886,...,53.452,53.539,File: Users\stell\Desktop\StellarDat\North 10...,40,North 10 - 7-9-20 #2.TRM,north 10,2020-07-09,2,,NaN
89,0.001,0.001,0.001,-7.75030,-35.1560,3.26030,67.191,69.487,68.926,66.576,...,61.699,61.748,File: Users\stell\Desktop\StellarDat\North 10...,40,North 10 - 7-9-20 #1.TRM,north 10,2020-07-09,1,,NaN
117,0.001,0.001,0.001,-9.35430,-36.7400,0.55308,50.266,52.683,52.066,49.624,...,46.323,46.496,File: Users\stell\Desktop\StellarDat\North 12...,40,North 12 - 7-9-20 #2.TRM,north 12,2020-07-09,2,,NaN
124,0.001,0.001,0.001,-17.64000,-65.1690,-9.40970,54.421,56.941,56.246,53.740,...,49.089,49.239,File: Users\stell\Desktop\StellarDat\North 12...,40,North 12 - 7-9-20 #3.TRM,north 12,2020-07-09,3,,NaN
125,0.001,0.001,0.001,-6.94870,-31.1160,0.67005,53.137,55.632,55.031,52.532,...,49.327,49.452,File: Users\stell\Desktop\StellarDat\North 12...,40,North 12 - 7-9-20 #1.TRM,north 12,2020-07-09,1,,NaN
137,0.001,0.001,0.001,-16.83800,-69.5740,-21.05100,53.177,55.727,55.096,52.623,...,47.998,48.140,File: Users\stell\Desktop\StellarDat\North 13...,40,North 13 - 7-9-20 #2.TRM,north 13,2020-07-09,2,,NaN
140,0.001,0.001,0.001,-22.18400,-89.6870,-30.90700,54.876,57.467,56.859,54.350,...,48.590,48.743,File: Users\stell\Desktop\StellarDat\North 13...,40,North 13 - 7-9-20 #3.TRM,north 13,2020-07-09,3,,NaN
145,0.001,0.001,0.001,-20.31300,-76.6870,-16.85600,55.149,57.719,57.147,54.646,...,51.390,51.487,File: Users\stell\Desktop\StellarDat\North 13...,40,North 13 - 7-9-20 #1.TRM,north 13,2020-07-09,1,,NaN
160,0.001,0.001,0.001,-24.85700,-97.9560,-36.26900,47.458,49.770,49.089,46.755,...,43.571,43.751,File: Users\stell\Desktop\StellarDat\North 14...,40,North 14 - 7-9-20 #1.TRM,north 14,2020-07-09,1,,NaN
169,0.001,0.001,0.001,-29.13300,-108.4600,-33.27200,51.926,54.464,53.847,51.411,...,47.086,47.252,File: Users\stell\Desktop\StellarDat\North 14...,40,North 14 - 7-9-20 #3.TRM,north 14,2020-07-09,3,,NaN
171,0.001,0.001,0.001,-26.72800,-106.4100,-45.03000,41.211,43.281,42.695,40.538,...,38.691,38.775,File: Users\stell\Desktop\StellarDat\North 14...,40,North 14 - 7-9-20 #2.TRM,north 14,2020-07-09,2,,NaN

In [33]:
df.isnull().values.any()

True

In [34]:
df.isnull().sum().sum()

28

# cache cleaned data

In [35]:
def cache_cleaned_data():
    df_lr = parse_lab_reports()
    df_trms = parse_trm_files_filess()
    df = df_trms.join(df_lr.set_index('sample_name')[['Ammonia-N']], on='sample_name')\
                                        .reset_index(drop=True)
    df = df.fillna(method='ffill')
    df.to_csv(DATA_DIR/'training_data.csv', index=False)

In [36]:
# cache_cleaned_data()